<%= form_with(model: post, class: "w-full max-w-lg mx-auto text-white p-6 rounded-lg ") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-600 text-white px-4 py-3 mb-5 font-medium rounded-lg">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul class="list-disc list-inside">
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= form.label :title, class: "block text-lg font-medium mb-2" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-600 bg-gray-700 text-white outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="my-4">
    <%= form.label :content, class: "block text-lg font-medium mb-2" %>
    <%= form.text_area :content, rows: 4, class: "block shadow rounded-md border border-gray-600 bg-gray-700 text-white outline-none px-3 py-2 mt-2 w-full focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="flex justify-end mt-6">
    <%= form.submit 'Save', class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-700 text-white font-medium cursor-pointer transition duration-200" %>
  </div>
<% end %>
